<div class="container">
    <h2 class="text-center"> Create Team </h2>
    <form [formGroup]="Members">
        <div class="row">
            <div class = "col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Title of Team Group</mat-label>
                    <input formControlName="Title" matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class = "col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Number of Teams</mat-label>
                    <input formControlName="TeamNumbers" matInput type="number" placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Minimum</mat-label>
                    <input formControlName="MinTeam" matInput type="number" placeholder="Ex. 2">
                    <span matSuffix>Member</span>
                </mat-form-field>
            </div>
            <div class = "col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Average</mat-label>
                    <input formControlName="TotalMembers" matInput type="number" placeholder="Ex. 5">
                    <span matSuffix>Member</span>
                </mat-form-field>
            </div>
            <div class = "col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Maximum</mat-label>
                    <input formControlName="MaxTeam" matInput type="number" placeholder="Ex. 6">
                    <span matSuffix>Member</span>
                </mat-form-field>
            </div>
        </div>
            <h3>Member's category</h3>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Frontend</mat-label>
                        <input formControlName="Front" matInput type="number" placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Backend</mat-label>
                        <input formControlName="Back" matInput type="number" placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>QA</mat-label>
                        <input formControlName="QA" matInput type="number" placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>DataBase</mat-label>
                        <input formControlName="DB" matInput type="number" placeholder="Placeholder">
                    </mat-form-field>
                </div>     
            </div>  
    </form>
    <div class="text-center">
        <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="GenTeam()">Generate the Teams</button>
        <button mat-raised-button color="warn" >Close</button>
    </div>